/* Heading Font */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif; /* Heading font */
    font-weight: 700; /* Bold weight */
}

/* Small Text Font */
body,
p,
span,
.small-text {
    font-family: "Open Sans", sans-serif; /* Small text font */
    font-weight: 400; /* Normal weight */
}
/* Heading Style */
.heading {
    /* color: #444444; Charcoal Gray */
    /* Dark Blue */
    color: #003366;
    /* color: #708090; Slate Gray */
    /*  color: #800020; Burgundy */
    /* color: #008080; teal*/
    /* color: #333333;  dark gray */
    /* color: #000; */
    text-transform: uppercase;
    letter-spacing: 2px;
}

#first_navbar {
    z-index: 1;
}
.input-group .btn {
    z-index: 0 !important;
}
/* Form Fields - Input, Textarea, and Button Styling */
.form-control.bg-dark {
    background-color: #333;
    color: white;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 1.1rem;
}

.form-control.bg-dark:focus {
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Input Group Text Styling */
.input-group-text.bg-dark {
    background-color: #333;
    color: white;
    border: 1px solid #fff;
    border-radius: 8px;
}

/* Terms & Conditions Styling */
input[type="checkbox"] {
    margin-right: 10px;
}

a.text-white {
    color: white;
    text-decoration: none;
}

a.text-white:hover {
    text-decoration: underline;
}

/* Button Styling */
.btn-light {
    background-color: #f8f9fa;
    color: #333;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
}

.btn-light:hover {
    background-color: #e2e6ea;
}

.btn-danger,
.btn-dark {
    border-radius: 8px;
    font-weight: bold;
    padding: 10px 20px;
}

.btn-danger:hover {
    background-color: #d72e2e;
}

.btn-dark:hover {
    background-color: #343a40;
}

/* Alert Styling */
.alert {
    background-color: #dc3545;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    padding: 15px;
}

/* Google and Apple buttons */
button[name="google"],
button[name="apple"] {
    font-weight: bold;
    border-radius: 8px;
    font-size: 1rem;
    padding: 15px;
}
.card {
    margin: 30px;
}

/* navbar styling */

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
}

.navbar-nav.ml-auto {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#navbarSupportedContent > ul > li.nav-item.dropdown.show > div {
    margin-left: -65px;
}
#navbarSupportedContent > ul > li.nav-item.dropdown.show > div {
    margin-left: -65px;
}
.bgImage {
    background-image: url("image/profile.jpg");
    background-size: cover; /* Makes the image cover the div */
    background-position: center; /* Centers the image */
    width: 500px;
    height: 300px;
}

/* Templete styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;

    /* outline: 1px solid red; */
}

/* Navbar Start */
#navbar {
    background: #f9f9f9;
}
#logo {
    font-size: 36px;
    font-weight: 550;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span {
    color: #ffa500;
}
.navbar-toggler span {
    color: #ffa500;
}
.navbar-nav {
    margin-left: 20px;
}
.nav-item .nav-link {
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover {
    background: #ffa500;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

/* Navbar End */

/* Home Section Start */
.home {
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content {
    text-align: center;
    padding-top: 200px;
}
.home .content h5 {
    color: white;
    font-size: 38px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1 {
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after {
    content: " ";
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext {
    0% {
        content: "France";
    }
    10% {
        content: "Spain";
    }
    20% {
        content: "United States";
    }
    30% {
        content: "China";
    }
    40% {
        content: "India";
    }
    50% {
        content: "Pakistan";
    }
    60% {
        content: "Italy";
    }
    70% {
        content: "Turkey";
    }
    80% {
        content: "Mexico";
    }
    90% {
        content: "Germany";
    }
    100% {
        content: "United kingdom";
    }
}
.home .content p {
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a {
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}
.home .content a:hover {
    background: #ffa500;
    color: white;
}
@media (max-width: 850px) {
    .home {
        background-position: 50%;
    }
}
@media (max-width: 450px) {
    .home .content h5 {
        font-size: 25px;
    }
    .home .content h1 {
        font-size: 38px;
    }
    .home .content p {
        font-size: 13px;
    }
}
/* Home Section End */

/* Section Book Start */
.book {
    background: #f9f9f9;
    padding: 50px;
}
.book .card {
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book .row {
    margin-top: 30px;
}
.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea {
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit {
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ffa500;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover {
    width: 170px;
}
@media (max-width: 765px) {
    .book {
        padding: 0;
    }
    .main-text h1 {
        padding: 20px;
    }
}
/* Section Book End */

/* About Start */
.about {
    padding: 50px;
    background: #f9f9f9;
}
.about .card {
    border-radius: 10px;
}
.about .card img {
    border-radius: 10px;
}
.about p {
    font-weight: 500;
}
#about-btn {
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background: #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    transition: 0.5s ease;
    cursor: pointer;
}
#about-btn:hover {
    width: 170px;
}
@media (max-width: 765px) {
    .about {
        padding: 0;
    }
}
/* About End */

/* Footer Start */
#footer {
    width: 100%;
    text-align: center;
    background: #ffa500;
}
#footer h1 {
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0px 0px 1px black;
}
#footer h1 span {
    color: #ffa60073;
}
.social-links i {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover {
    background: #ffffff;
    color: #ffa500;
}
/* Footer End */

/* Why choose us styling start */
.card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}
.card i {
    transition: color 0.3s ease;
}
.card:hover i {
    color: #007bff; /* Change color on hover */
}

/* Why choose us styling Ends  */

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.contact-list-footer {
    margin-bottom: 63px;
}

.card {
    margin: 0px;
    margin-bottom: 10px;
    border: 0px;
}

.navbar-nav .nav-link.active {
    color: #ffa500 !important;
}
.navbar-nav .nav-link.active:hover {
    color: #ffffff !important;
}

/* cards property listing */

#ads {
    margin: 30px 0 30px 0;
}

#ads .card-notify-badge {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #000;
    text-align: center;
    border-radius: 0px 30px 30px 30px;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 12px;
}

#ads .card-notify-year {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #ff4444;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}

#ads .card-detail-badge {
    background: #f2d900;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
}

#ads .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#ads .card-image-overlay {
    font-size: 20px;
}

#ads .card-image-overlay span {
    display: inline-block;
}

#ads .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 3px solid #e6de08;
    display: block;
    text-decoration: none;
    margin: 20px auto 1px auto;
    color: #000;
    overflow: hidden;
    position: relative;
    background-color: #e6de08;
}

#ads .ad-btn:hover {
    background-color: #e6de08;
    color: #1e1717;
    border: 2px solid #e6de08;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#ads .ad-title h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.houseprice {
    text-align: left;
    font-size: 15px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 4px;
    /* margin-left: 2px; */
}
.cardsmalltext {
    margin-top: 5px;
    font-size: 12px;
}
.icon-bed {
    font-size: 15px; /* Set both icon and text size to 8px */
    vertical-align: middle; /* Ensures icon is aligned with text */
    padding: 0px;
    margin: 0px;
}
/* Remove any hover effect for Font Awesome icons */
.card:hover i {
    color: inherit;
}

.cardrow > div:nth-child(n + 2) {
    margin-left: -32px;
}
.houseaddress {
    font-size: 12px;
}
.housePoster {
    font-size: 10px;
}

/* filters css */
.filter-container {
    transition: all 0.3s ease-in-out;
}
.filter-container.show {
    display: block;
}

#filterContainer {
    background-color: darkgrey;
    border-radius: 10px;
    height: 60vh;
    padding: 10px;
    font-size: 12px;
}

#filterContainer small {
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    padding: 4px;
    border-radius: 6px;
    transition: all 0.3s ease; /* Smooth transition for color, border, and other properties */
}

#filterContainer small:hover {
    color: rgba(0, 0, 139, 0.596); /* Hover color */
    border-color: rgba(0, 0, 139, 0.596); /* Change border color on hover */
    background-color: rgba(0, 0, 139, 0.1); /* Add background color on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
    cursor: default;
}

#ads > div > div > a {
    text-decoration: none !important;
    color: #000 !important;
}
.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 14px;
}

.font-lg {
    font-size: 16px;
}
.vertical-line {
    width: 1px; /* The thickness of the vertical line */
    height: 100%; /* Adjust the height as needed, or set a fixed height */
    background-color: black; /* The color of the vertical line */
    margin: 0 20px; /* Optional margin for spacing */
}

/* Calculator */
.calculator-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.calculator-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
.calbtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.calbtn:hover {
    background-color: #0056b3;
}
.priceCal {
    margin-bottom: 15px;
}
.priceCal label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
.priceCal input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.secondbar-bg-color {
    letter-spacing: 3px !important;
    color: white !important;
    font-family: "Poppins";
}
/* charts */

.col-md-4-5 {
    width: 37.5% !important;
}
#myTable > thead > tr > th {
    text-align: center;
}
